{{ define "main" }}
{{- $postType := .Type | lower | singularize -}}
<article class="{{ partial "post-class.html" . }}" role="document"{{ with .Params.lang }} lang="{{ . }}"{{ end }}>
    <header>
        <h1 class="text-title">
            {{ .Params.pageTitle | default .Title }}
        </h1>
        <p class="byline">
            {{ if in (slice "drama" "narrative" "poem") $postType }}
                {{ partial "post-meta/author.html" . }}
            {{ else }}
                {{ partial "post-meta/date.html" . }}
            {{ end }}
        </p>
    </header>

    <div class="{{ $postType }}-body">
        {{ .Content }}
    </div>

    <div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="a4e0d167-133e-40d2-aa30-b40d0baa6bb1"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

    {{/* Post tags are not allowed for drama, narratives and poems */}}
    {{ if not (in (slice "drama" "narrative" "poem") $postType) }}
        {{ partial "post-tags.html" . }}
    {{ end }}
</article>
{{ end }}
