{{ define "main" }}
{{- $postType := .Type | lower | singularize -}}
<article class="{{ partial "post-class.html" . }}" role="document"{{ with .Params.lang }} lang="{{ . }}"{{ end }}>
    <header>
        <h1 class="text-title">
            {{ .Params.pageTitle | default .Title }}
        </h1>
    </header>

    <div class="{{ $postType }}-body">
        {{ .Content }}
    </div>
</article>
    <div id="cusdis_thread" data-host="https://cusdis.com"
      data-app-id="{{ .Site.Params.CommentsCusdisID }}"
      data-page-id="{{ .Page.File.UniqueID }}"
      data-page-url="{{ .Page.Permalink }}"
      data-page-title="{{ .Page.Title }}">
    </div>
    <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
{{ end }}
